In [1]:
# A list is a Python object that contains multiple elements
lucky_numbers = [12, 41, 15, 17, 33]
print(lucky_numbers)
print(type(lucky_numbers))

[12, 41, 15, 17, 33]
<class 'list'>

In [2]:
# Lists can contain different data types
variable_list = [12, "hello", 3.14, True]
print(variable_list)

[12, 'hello', 3.14, True]

In [ ]:
# We can make a list with the list() function
letters = list("abcd")
print(letters)

['a', 'b', 'c', 'd']

In [4]:
# We can multiply lists with the repetition operator
multiple_letters = letters * 3
print(multiple_letters)

['a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd']

In [9]:
# We can combine lists with range
numbers = list(range(1, 10, 2))
print(numbers)

[1, 3, 5, 7, 9]

In [32]:
# We can index a list with a number
names = ["Alice", "Bob", "Eve"]

print(names[0])
print(names[1])
print(names[2])
print()

Alice
Bob
Eve

In [16]:
# We can also do negative indexes
print(names[-1])
print(names[-2])
print(names[-3])

Eve
Bob
Alice

In [34]:
# We can update an element with the index
names[0] = "David"
print(names)

['David', 'Bob', 'Eve']

In [68]:
# We can combine lists
names_1 = ["Alice", "Bob", "Eve"]
names_2 = ["Joe", "Charlie", "Dan"]
names = names_1 + names_2
print(names)

['Alice', 'Bob', 'Eve', 'Joe', 'Charlie', 'Dan']

In [69]:
# we can get the length of an array
print(len(names))

6

In [31]:
# We an iterate over an array with a while loop
index = 0
while index < len(names):
    print(index, names[index])
    index += 1

0 Alice
1 Bob
2 Eve
3 Joe
4 Charlie
5 Dan

In [28]:
# We an also use a for loop to iterate directly over the elements
for name in names:
    print(name)

Alice
Bob
Eve
Joe
Charlie
Dan

In [ ]:
# Sometimes, we want the index and the element, this is useful if we need to update the element
numbers = [6, 7, 8, 9, 10]
for i in range(len(numbers)):
    print(i, numbers[i])
    numbers[i] = numbers[i] ** 2
print(numbers)

0 6
1 7
2 8
3 9
4 10
[36, 49, 64, 81, 100]

In [40]:
# We can also use the enumerate function
numbers = [6, 7, 8, 9, 10]
for i, number in enumerate(numbers):
    print(i, number)
    numbers[i] = numbers[i] ** 2

print(numbers)

0 6
1 7
2 8
3 9
4 10
[36, 49, 64, 81, 100]

In [43]:
# We can have lists of lists
matrices = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for matrix in matrices:
    for i in matrix:
        print(i, end=" ")
    print()

1 2 3
4 5 6
7 8 9

In [159]:
# We can sort lists

#Ascending by default
numbers = [10, 9, 8, 7, 6, 5]
numbers.sort()

#Alphabetic by default
names = ["Alice", "Bob", "Eve"]
names.sort()

print(numbers)
print(names)

[5, 6, 7, 8, 9, 10]
['Alice', 'Bob', 'Eve']

In [160]:
numbers.sort(reverse=True)
print(numbers)

names.sort(reverse=True)
print(names)

[10, 9, 8, 7, 6, 5]
['Eve', 'Bob', 'Alice']

In [ ]:
# Other list functions
names = ["Alice", "Bob", "Eve", "Joe", "Charlie", "Dan"]
names.append("Frank")
print(names)

names.insert(2, "Grace")
print(names)

names.remove("Eve")
print(names)

names.pop(1)
print(names)

names.pop()
print(names)

names.reverse()
print(names)

names.clear()
print(names)

['Alice', 'Bob', 'Eve', 'Joe', 'Charlie', 'Dan', 'Frank']
['Alice', 'Bob', 'Grace', 'Eve', 'Joe', 'Charlie', 'Dan', 'Frank']
['Alice', 'Bob', 'Grace', 'Joe', 'Charlie', 'Dan', 'Frank']
['Alice', 'Grace', 'Joe', 'Charlie', 'Dan', 'Frank']
['Alice', 'Grace', 'Joe', 'Charlie', 'Dan']
['Dan', 'Charlie', 'Joe', 'Grace', 'Alice']
[]

In [ ]:
# Copying a list (deep Copy)
a = [1, 2, 3]
b = a
b[2] = 4

print(a)

[1, 2, 4]

In [ ]:
c = [1, 2, 3]

d = c.copy() # shallow copy
# OR
e = c[:]

d[2] = 4
e[0] = 5


print(c)

[1, 2, 3]

In [131]:
# We can slice a list with the colon operator
# The first number is inclusive, the second number is exclusive
employee_list = ["John", "Joe", "Jim", "James", "Jack", "Jeff"]


print(employee_list[0])
print(employee_list[3])
print(employee_list[0:3])

John
James
['John', 'Joe', 'Jim']

In [ ]:
# We slice with a step
print(employee_list[0:5:2])

['John', 'Jim', 'Jack']

In [63]:
# We can slice the whole list
print(len(employee_list))
print(employee_list[0:len(employee_list)])

6
['John', 'Joe', 'Jim', 'James', 'Jack', 'Jeff']

In [64]:
# Those values will be implied if left out
print(employee_list[:])

['John', 'Joe', 'Jim', 'James', 'Jack', 'Jeff']

In [65]:
# Reversing a list
print(employee_list[::-1])

['Jeff', 'Jack', 'James', 'Jim', 'Joe', 'John']

In [ ]:
# Create a list of the first 50 numbers
# Reverse the last 10 numbers in the list
# Replace every number in the list divisible by 5 with the word "buzz"


#TODO REMOVE THIS EXERCISE
numbers = list(range(1, 51))
reversed_numbers = numbers[len(numbers):-11:-1]
numbers = numbers[:-10] + reversed_numbers

for i in range(len(numbers)):
    if numbers[i] % 5 == 0:
        numbers[i] = "buzz"
print(numbers)

[1, 2, 3, 4, 'buzz', 6, 7, 8, 9, 'buzz', 11, 12, 13, 14, 'buzz', 16, 17, 18, 19, 'buzz', 21, 22, 23, 24, 'buzz', 26, 27, 28, 29, 'buzz', 31, 32, 33, 34, 'buzz', 36, 37, 38, 39, 'buzz', 'buzz', 49, 48, 47, 46, 'buzz', 44, 43, 42, 41]

In [87]:
# Tuples
my_tuple = (1, 2, 3)
print(my_tuple)
print(type(my_tuple))

print(my_tuple[0])
print(my_tuple[-1])

(1, 2, 3)
<class 'tuple'>
1
3

In [88]:
my_tuple[0] = 4 # Tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [94]:
# Strings are sequences
alphabet = "abcdefghijklmnopqrstuvwxyz"
print(alphabet[-1])
print()
for i in alphabet[:3]:
    print(i)

z

a
b
c

In [95]:
# Searching strings

ip_addresses = "192.168.1.1, 10.0.0.1, 172.16.0.1, 192.168.100.100, 10.10.10.10"
if "172.16.0.1" in ip_addresses:
    print("Sound the alarm")

Sound the alarm

In [ ]:
# String testing
password = "a1b2c3d4"
if password.isalnum():
    print("Password is alphanumeric")

bad_password = "A1B2 C3D4$"
if not bad_password.isalnum():
    print("Password is not alphanumeric")



print(password.isalpha())
print(password.isdigit())
print(password.islower())
print()
print(bad_password.isupper())
print(bad_password.isspace())
print(bad_password.startswith("A1"))

print(password.count("c"))

Password is alphanumeric
Password is not alphanumeric
False
False
True

True
False
True
1

In [118]:
# String modification (Immutability)
username = "Alice"
username = username.lower()
print(username)

alice

In [121]:
username = "Alice "
print(len(username))
username = username.strip()
print(len(username))

6
5

In [123]:
urls = ["www.google.com", "www.bing.com", "www.wikipedia.org"]
for i in urls:
    print(i.lstrip("w."))

google.com
bing.com
ikipedia.org

In [126]:
# Search and Replace
sentence = "The quick brown fox jumps over the lazy dog"
print(sentence.endswith("dog"))
print(sentence.startswith("The"))
print(sentence.find("fox"))
sentence = sentence.replace("quick", "slow")

print(sentence)

True
True
16
The slow brown fox jumps over the lazy dog

In [132]:
# String splitting

csv_formatted_names = "Alice, Bob, Charlie, David, Eve"
names = csv_formatted_names.split(", ")
print(names)

['Alice', 'Bob', 'Charlie', 'David', 'Eve']

In [129]:
# Make a new list of uniform phone numbers

phone_numbers = ["(123) 456-7890 ", "123-456-7890", "#(123)-456-7890", "1234567890", "123.456.7890"]
uniform_phone_numbers = []

#TODO REMOVE THIS EXERCISE
for number in phone_numbers:
    number = number.strip()
    number = number.strip("#()")
    number = number.replace(")", "")
    number = number.replace("-", "")
    number = number.replace(".", "")
    number = number.replace(" ", "")
    uniform_phone_numbers.append(number)
print(uniform_phone_numbers)

['1234567890', '1234567890', '1234567890', '1234567890', '1234567890']

In [148]:
# Sets are unordered collections of unique elements

my_set = {1, 1, 2, 2, 3, 3, 4, 4, 5, 5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [ ]:
# Using the set() function

my_set1 = set("hello world")
print(my_set1)
print(type(my_set1))

{'o', 'e', 'w', 'h', 'l', 'd', ' ', 'r'}
<class 'set'>

In [ ]:
# Using the set() with a list

my_set2 = set(["hello", "world"])
print(my_set2)
print(type(my_set2))

{'world', 'hello'}
<class 'set'>

In [ ]:
# Sets largely behave list lists

set_of_names = {"Alice", "Bob", "Charlie", "David", "Eve"}
set_of_names.pop()
set_of_names.add("Frank")
set_of_names.update(["Grace", "Hannah"])

print(set_of_names)

{'Hannah', 'David', 'Bob', 'Charlie', 'Grace', 'Alice', 'Frank'}

In [153]:
# Remove vs Discard
set_of_names.remove("bob")

KeyError: 'bob'

In [ ]:
set_of_names.discard("bob")
print(set_of_names)

{'David', 'Bob', 'Charlie', 'Alice', 'Frank'}

In [ ]:
# Sets are useful for deduplication
mailing_list = [
    "alice@example.com",
    "bob@example.com",
    "charlie@example.com",
    "alice@example.com",
    "dave@example.com",
    "eve@example.com",
    "bob@example.com"
]

print(len(mailing_list))
print(mailing_list)
print()

unique_emails = set(mailing_list)

print(unique_emails)
print(len(unique_emails))

7
['alice@example.com', 'bob@example.com', 'charlie@example.com', 'alice@example.com', 'dave@example.com', 'eve@example.com', 'bob@example.com']

{'charlie@example.com', 'dave@example.com', 'alice@example.com', 'bob@example.com', 'eve@example.com'}
5

In [ ]:
# Unions
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

union_set = set1 | set2 # OR set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5, 6}

In [169]:
# Intersections
intersection_set = set1 & set2 # OR set1.intersection(set2)
print(intersection_set)

{3, 4}

In [170]:
# Differences
difference_set = set1 - set2 # OR set1.difference(set2)
print(difference_set)

{1, 2}

In [176]:
# Subsets and Supersets

set3 = {"a", "b", "c", "d"}
set4 = {"a", "b"}

if set4 <= set3:
    print("set4 is a subset of set3")

if set3 >= set4:
    print("set3 is a superset of set4")

set4 is a subset of set3
set3 is a superset of set4